

# Required for colored terminal output
colorama
# Required for reading/writing subtitle files
pysrt
# Required for Google Translate API (subtitle translation)
deep-translator
# Standard library, but required for GUI
tkinter

basicsr>=1.4.2
facexlib>=0.2.5
gfpgan>=1.3.5
numpy
opencv-python
Pillow
torch>=1.7
torchvision
tqdm
